<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>realtime tweets</title>

    <script src="../javascript/jquery/v.1.6.4/jquery-1.6.4.min.js"></script>
   
    <!--<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap2-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap2-toggle.min.js"></script>-->
    <script src="../javascript/security/functions_cryptography.js"></script>
    <script src="../javascript/security/enc-base64.js"></script>
    <script src="../javascript/util/guid.js"></script>
    <script src="../javascript/realtime/eventSubscribersBus.js"></script>
    <script src="../javascript/realtime/serverFeedBackEvent.js"></script>
    <script src="../javascript/api/clientapi.js"></script>
    <script src="../javascript/api/middleware.js"></script>
  
    <script type="text/javascript">
        
        var wsToken;
        var clientid;
        var connection;

        $(document).ready(function (e) {

            $("#switch-streaming").bind("click", function (evt) {
                if ($(this).attr("checked") == "checked") {
                    startStreaming();
                } else {
                    stopStreaming();
                }
            });

        });

        function stopStreaming() {
            clientApi.getInstance().stopTwitterStream(true, true, clientid, function (status, data) {
                console.log("streaming stop.");
            }, function (error) {
                console.log("error stoping streaming.");
                });
        }

        function startStreaming() {
            //Request registration token and clientId
            clientApi.getInstance().requestWSToken(false, true,
                function (status, data) {

                    wsToken = data.wstoken;
                    clientid = data.clientid;

                    console.log("client id: " + data.clientid + " wstoken: " + wsToken);

                    connection = clientApi.getInstance().openWebSocketConnection(clientid, wsToken);
                    connection.onopen = function (clientId, wsToken) {
                        return function (e) {
                            onWSOpen(clientId, wsToken);
                        }
                    }(clientid, wsToken);

                    connection.onmessage = onWSMessage;
                    connection.onclose = onWSClose;

                    clientApi.getInstance().subscribeTwitterStream(true, true, clientid,
                        function (status, data) {
                            console.log("subscribed to Twitter Stream");
                            clientApi.getInstance().startTwitterStream(true, true,
                                [], [],
                                [{ longitude1: -180, latitude1: -90, longitude2: 180, latitude2: 90 }],
                                clientid,
                                function (status, data) {
                                    console.log("start streaming.");
                                }, function (error) { });
                        }, function (error) {
                            console.log(error);
                        });

                },
                function (error) {
                    console.log(error);
                });
        }

        function onWSMessage(e) {
            try {
                console.log(e.data);
                var tweet = JSON.parse(e.data).Data;
                updateTweetInfo(tweet);
                if (tweet != null && tweet.user != null && tweet.user.screen_name != null && tweet.geo != null) {


                    var latitude = tweet.geo.coordinates[0];
                    var longitude = tweet.geo.coordinates[1];
                    var latLong = new google.maps.LatLng(latitude, longitude);

                    var prevPoint = null;

                    var pointsCount = poly.getPath().getArray().length;

                    if (pointsCount == 1) {
                        prevPoint = poly.getPath().getArray()[0];
                    } else if (pointsCount == 2) {
                        prevPoint = poly.getPath().getArray()[1];
                    }
                    
                    //poly.setMap(null);
                    if (prevPoint != null) {
                        poly.getPath().push(prevPoint);
                    } else {
                        poly.getPath().getArray().splice(0, 1);
                    }
                    poly.getPath().push(latLong);
                    //poly.setMap(map);
                    geoTweets.push(latLong);


                    /*var username = tweet.user.hasOwnProperty("screen_name")
                        && tweet.user.screen_name != null && tweet.user.screen_name != undefined ? tweet.user.screen_name : "Unknown user";
                    /*$("#main-container").append("<p style='color: yellow;'>" + username + "</p>");
                    var elem = $("<p style='color: green;'>" + tweet.text + "</p></br>").appendTo("#main-container");
                    window.scrollTo(0, $(elem).offset().top);*/
                }
            } catch (e) { }
        }

        function onWSError(Error) {
            console.log(Error);
        }

        function onWSOpen(clientId, wsToken) {
            DoWork(connection, wsToken, clientid);
            console.log("Connected.");
        }

        function onWSClose() {
            console.log("close");
        }

        function DoWork(connection, wsToken, clientId) {
                        
            for (var i = 0; i < 1; i++) {

                var dataPackage = getTestDataPackage();

                var transferPackage = getSignedTransferPackage(dataPackage);
                
                connection.send(JSON.stringify(transferPackage));
            }
        }

        function getTestDataPackage() {
            if (new Date().getMilliseconds() % 2 == 0) {
                return { id: "A0409", name: "Josep", surnames: "Lagunas Calpe", number: (Math.random() * 100  + 1).toString() };
            } else {
                return { serial: { a: 1, b: 2 }, types: [{ t1: 'a' }, { t2: 'b' }], timeStamp: (Math.random() * 100 + 1).toString() };
            }
        }

        function getSignedTransferPackage(data) {
            var strPackage = JSON.stringify(data);
            var hashedParameters = CryptoJS.enc.Base64.stringify(CryptoJS.SHA1(strPackage + wsToken));
            var transferPackage = { clientId: clientid, HashedKey: hashedParameters, Data: data };
            //$("#main-container").append("<p style='color: yellow;'>" + JSON.stringify(data) + '</p>');
            return transferPackage;
        }
               
        var map, heatmap, geoTweets, poly;
        var tweetsCounter = 0;

        function updateTweetInfo(tweet) {
            tweetsCounter++;
            $("#tweets-counter").text("Tweets count: " + tweetsCounter);
            if (tweet.coordinates != null) {
                $("#tweet-location").text("located at latitude: " + tweet.geo.coordinates[0].toFixed(4) +
                    " , longitue: " + tweet.geo.coordinates[1].toFixed(4));
            }
            $("#tweet-user").text("Author: " + tweet.user.screen_name);
            $("#tweet-content").text(tweet.text);
        }

        function initMap() {

            var height = (window.innerHeight - 300) + "px";

            $("#main-container").css("height", height);
            geoTweets = new google.maps.MVCArray();
            map = new google.maps.Map(document.getElementById('main-container'), {
                zoom: 2,
                center: { lat: 41.380876, lng: 2.159059 }, 
                mapTypeId: 'satellite'
            });
            heatmap = new google.maps.visualization.HeatmapLayer({
                data: geoTweets,
                map: map
            });

            poly = new google.maps.Polyline({
                strokeColor: '#6ce829',
                strokeOpacity: 0.65,
                strokeWeight: 6
            });
            poly.setMap(map);
        }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAO4IHmHwIFhH-2q9DLu8SvanZSuBVsKyw&libraries=visualization&callback=initMap">
    </script>

</head>
<body style="background-color:#000;">
    <div id="main-container" style="width:100%; height:auto; color: forestgreen; font-family: system-ui; width: 95%; margin-left: 2.5%; margin-top: 30px;">

    </div>
    <div id="tweet-container">
        <label style="color:#fff;position:absolute;margin-top: 16px;margin-left: 88%;font-family: monospace;font-size: 11pt;">Stream Tweets</label>
        <input id="switch-streaming" type="checkbox" data-toggle="toggle" style="color: forestgreen; font-family: system-ui; margin-top: 1%; margin-left: 95%;">
        <p id="tweets-counter" style="height: 50px;width: auto;margin-left: 2.5%;font-family: monospace;font-size: 30pt;color: green;position: relative;margin-bottom: 0;margin-top: 10px;"></p>
        <p id="tweet-user" style="color: #ffd800;margin-left: 2.5%;font-size: 20pt;margin-bottom: 0;margin-top: 0;font-family: monospace;"></p>
        <p id="tweet-location" style="color: yellow;font-family: monospace;font-size: 13pt;margin-left: 3.5%;margin-top: 0;margin-bottom: 20px;"></p>
        <p id="tweet-content" style="color:#fff;margin-left: 2.5%;font-size: 19pt;width: 95%;margin-top: 0;margin-bottom: 0;font-family: monospace;"></p>
    </div>
</body>
</html>